* {
  text-align: center;
}

html, body {
  margin: 0px;
  background: url(./images/background.jpeg) no-repeat center center fixed;
  background-size: cover;
}

img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 318px;
  max-height: 300px
}

.imgDiv {
  background-color: #ccffff;
  display: inline-block;
  position: relative;
  min-width: 318px;
  height: 300px;
  border: 1px solid #000000;
}

#imgDiv2, #imgDiv3 {
  margin-left: 16px;
}

section {
  background-color: rgba(100%, 100%, 100%, .75);
  margin: 0 auto;
  width: 1000px;
  padding: 20px;
}

form {
  background-color: #ffff80;
  float: right;
  padding: 10px;
  margin-right: 50px;
  border-radius: 10px;
}

fieldset {
  text-align: left;
  padding-left: 25px;
  border: 1px solid #000000;
}

form, #chartTitle, canvas, #charts {
  visibility: collapse;
}

header {
  border-bottom: 42px solid #333333;
  background-color: #ffff99;
  margin-bottom: 100px;
}

#intro {
  margin-bottom: 100px;
}

div.title {
  padding: 5px;
  margin: 0px 180px;
  width: 82px;
  height: 82px;
  background-color: #333333;
}

h1 {
  font-size: 52px;
  color: #ffffff;
  margin-top: -5px;
  margin-bottom: 0px;
}
h2 {
  font-size: 40px;
  color: #ffffff;
  margin-top: -22px;
}
h3 {
  font-size: 40px;
  color: #555555;
}

canvas {
  margin-left: 50px;
}
